<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @work_history.user %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @work_history.company_name %>
</p>

<p>
  <strong>Joined at:</strong>
  <%= @work_history.joined_at %>
</p>

<p>
  <strong>Leaved at:</strong>
  <%= @work_history.leaved_at %>
</p>

<%= link_to 'Edit', edit_work_history_path(@work_history) %> |
<%= link_to 'Back', work_histories_path %>
