<%= form_for(resume) do |f| %>
  <% if resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name, "企業名" %>
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    <%= f.label :entry_reason, "志望動機" %>
    <%= f.text_area :entry_reason %>
  </div>

  <div class="field">
    <%= f.label :summary, "自己PR" %>
    <%= f.text_area :summary %>
  </div>

  <div class="field">
    <%= f.label :request, "本人希望事項" %>
    <%= f.text_area :request %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
