<h1>あなたの履歴書</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Company name</th>
      <th>Entry reason</th>
      <th>Summary</th>
      <th>Request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.user.id %></td>
        <td><%= resume.company_name %></td>
        <td><%= resume.entry_reason %></td>
        <td><%= resume.summary %></td>
        <td><%= resume.request %></td>
        <td><%= link_to 'Show', resume %></td>
        <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '履歴書を作成', new_resume_path %>
