<div class="container mt-4">
  <div class="mb-2 clearfix">
    <h1 class="h4 float-left">あなたの履歴書</h1>
    <%= link_to '+ 作成', new_resume_path, class: "btn btn-primary float-right" %>
  </div>
  <div class="row">
    <% @resumes.each do |resume| %>
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-block">
            <h2 class="h5 card-title">
              <%=link_to resume.company_name, resume %>
            </h2>
            <%= link_to '編集', edit_resume_path(resume), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'PDF出力', resume_path(resume, format: :pdf), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to '削除', resume, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'この履歴書を削除してもよろしいですか？' } %>
          </div>
          <div class="card-footer text-muted py-1">
            <small>作成日: <%= resume.created_at.to_date %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
