<div class="container mt-4">
  <div class="mb-2 clearfix">
    <h1 class="h4 float-left">あなたの履歴書</h1>
    <%= link_to new_resume_path, class: "btn btn-primary px-5 float-right" do %>
      <%= fa_icon "plus", text: "作成" %>
    <% end %>
  </div>
  <div class="row">
    <% @resumes.each do |resume| %>
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-block">
            <h2 class="h5 card-title">
              <%= fa_icon "file-text-o", class: "fa-fw text-muted", aria: { hidden: true } %>
              <%=link_to resume.company_name, resume %>
            </h2>
            <%= link_to edit_resume_path(resume), class: "btn btn-secondary btn-sm" do %>
              <%= fa_icon "pencil", text: "編集", class: "fa-fw", aria: { hidden: true } %>
            <% end %>
            <%= link_to resume_path(resume, format: :pdf), class: "btn btn-secondary btn-sm" do %>
              <%= fa_icon "download", text: "PDF出力", class: "fa-fw", aria: { hidden: true } %>
            <% end %>
            <%= link_to resume, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'この履歴書を削除してもよろしいですか？' } do %>
              <%= fa_icon "trash-o", text: "削除", class: "fa-fw", aria: { hidden: true } %>
            <% end %>
          </div>
          <div class="card-footer text-muted py-1">
            <small>作成日: <%= resume.created_at.to_date %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
