<div class="container mt-4">
  <div class="mb-2 clearfix">
    <h1 class="h4 float-left">あなたの履歴書</h1>
    <%= link_to '+ 作成', new_resume_path, class: "btn btn-primary px-5 float-right" %>
  </div>
  <div class="row">
    <% @resumes.each do |resume| %>
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-block">
            <h2 class="h5 card-title">
              <%= fa_icon "file-text-o", class: "fa-fw text-muted", aria: { hidden: true } %>
              <%=link_to resume.company_name, resume %>
            </h2>
            <%= link_to edit_resume_path(resume), class: "btn btn-secondary btn-sm px-3", title: "編集する" do %>
              <%= fa_icon "pencil", aria: { hidden: true } %>
              <%= content_tag "span", "#{resume.company_name}の履歴書を編集する", class: "sr-only" %>
            <% end %>
            <%= link_to resume_path(resume, format: :pdf), class: "btn btn-secondary btn-sm px-3", title: "PDF出力する" do %>
              <%= fa_icon "download", aria: { hidden: true } %>
              <%= content_tag "span", "#{resume.company_name}の履歴書をPDF出力する", class: "sr-only" %>
            <% end %>
            <%= link_to resume, class: "btn btn-outline-danger btn-sm px-3", method: :delete, data: { confirm: 'この履歴書を削除してもよろしいですか？' }, title: "削除する" do %>
              <%= fa_icon "trash-o", aria: { hidden: true } %>
              <%= content_tag "span", "#{resume.company_name}の履歴書を削除する", class: "sr-only" %>
            <% end %>
          </div>
          <div class="card-footer text-muted py-1">
            <small>作成日: <%= resume.created_at.to_date %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
